@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  font-family: inherit;
  background-color: #4f39f6 !important;
  cursor: pointer;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure it stretches to full width */
}

.no-focus-outline:focus,
.no-focus-outline:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
/* Add this to your CSS file */
.ant-menu-item-selected {
  background-color: #3c2fd1 !important; /* slightly darker than #4f39f6 */
  color: #fff !important;
}
.ant-menu-item:hover {
  background-color: #3c2fd1 !important;
  color: #fff !important;
}
/* Sidebar when collapsed */
.sider-collapsed {
  width: 80px !important;
  min-width: 80px !important;
  max-width: 80px !important;
}

/* Sidebar when expanded */
.sider-expanded {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}
.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  color: white !important;
}
.ant-popconfirm-message-icon {
  display: none !important;
}
.login-form .ant-form-item-required {
  width: 100% !important;
}
